[submodule "readium-sdk"]
	path = readium-sdk
	url = https://github.com/menuet/readium-sdk.git
[submodule "readium-shared-js"]
	path = readium-shared-js
	url = https://github.com/readium/readium-shared-js.git
